{% extends "Toeic/base.html" %}

{% block content %}
 
<p>Topic: {{topic}}</p>

<ul> 
{% for vocab in vocabs %}
	<li>
		<p>{{ vocab.text|linebreaks }}</p>
		<form>
			<input type="text" name="def" id="def">
		</form>
		<p>{{ vocab.wordType|linebreaks }}</p>
		<p>{{ vocab.definition|linebreaks }}</p>
		<p>{{ vocab.otherForm|linebreaks }}</p>
	</li> 
{% empty %} 
	<li>No words have been added yet.</li> 
{% endfor %} 
 </ul> 

<p><a href="{% url 'Toeic:checkvocab' topic.id %}">Take Quiz Again?</p>

{% endblock content %}

9